---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="DEMOSMP">
  <div class="bg-base-100 p-4 pt-10 h-96">
    <div class="flex flex-col md:flex-row">
      <div
        class="breadcrumbs inline-flex justify-center md:justify-start md:w-3/4 md:pl-1">
        <ul>
          <li>
            <a href="/"><i class="fa-solid fa-house mr-2"></i> Acceuil</a>
          </li>
          <li>
            <a href="/forum"><i class="fa-solid fa-message mr-2"></i> Forum</a>
          </li>
          <li><i class="fa-solid fa-tree-city mr-2"></i> DEMOSMP</li>
        </ul>
      </div>
      <div class="inline-flex justify-center md:justify-end md:w-1/4">
        <form>
          <div class="join">
            <input
              class="input input-bordered join-item"
              placeholder="Search"
            />
            <button class="btn btn-primary join-item"
              ><i class="fa-solid fa-magnifying-glass"></i></button
            >
          </div>
        </form>
      </div>
    </div>

    <div class="grid grid-cols-1 gap-8 pt-4">
      <div class="w-full flex bg-base-300 p-2 px-4 rounded-lg">
        <div class="inline-flex justify-start md:w-1/2">
          <a>
            <i class="fa-solid fa-comment text-primary text-4xl mr-4"></i>
          </a>
          <div>
            <a href="/forum/post" class="text-lg font-bold">
              <i class="badge badge-warning fa-solid fa-thumbtack"></i>
              <i class="badge badge-error fa-solid fa-lock"></i>
              <span class="badge badge-error"> IMPORTANT </span>
              Règles de l'espace de discussion
            </a>
            <div class="flex">
              <img
                class="rounded h-4 w-4 translate-y-0.5 mr-1"
                src="/avatar.png"
                alt="Shoes"
              />
              <span>Funasitien</span>
            </div>
          </div>
        </div>
        <div class="inline-flex justify-center md:w-1/2"></div>
      </div>

      <div class="w-full flex bg-base-300 p-2 px-4 rounded-lg">
        <div class="inline-flex justify-start md:w-1/2">
          <a>
            <i class="fa-solid fa-comment text-primary text-4xl mr-4"></i>
          </a>
          <div>
            <a href="/forum/post" class="text-lg font-bold">
              Pourquoi j'aime les fraises ?
            </a>
            <div class="flex">
              <img
                class="rounded h-4 w-4 translate-y-0.5 mr-1"
                src="/avatar.png"
                alt="Shoes"
              />
              <span>Funasitien</span>
            </div>
          </div>
        </div>
        <div class="inline-flex justify-center md:w-1/2"></div>
      </div>
    </div>
  </div>
</Layout>
