---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Forum">
  <div class="bg-base-100 p-4 pt-10">
    <div class="flex max-sm:flex-col gap-4 w-full">
      <div class="md:w-3/4">
        <div class="grid grid-cols-1 gap-y-4 md:m-4 my-8">
          <h2 class="text-4xl font-bold relative align-middle">
            Serveurs
            <span class="hidden md:absolute right-0 text-xl font-normal"
              >Les différents mondes de DEMOCRAFT</span
            >
          </h2>
          <p class="md:hidden right-0 text-xl font-normal"
              >Les différents mondes de DEMOCRAFT</p
            >
            
          <div class="bg-base-300 p-2 px-4 rounded-xl flex items-center">
            <a><i class="fa-solid fa-tree-city text-primary text-4xl mr-4"></i></a>
            <div>
              <a href="/forum/categorie"  class="text-2xl font-bold">
                DEMOSMP
              </a>
              <p>Montrez nous vos plus belles villes ! </p>
            </div>
          </div>
          <div class="bg-base-300 p-2 px-4 rounded-xl flex items-center">
            <a><i class="fa-solid fa-meteor text-primary text-4xl mr-4"></i></a>
            <div>
              <h2 class="text-2xl font-bold">FACTION</h2>
              <p>D'où les blocs ça volle ?</p>
            </div>
          </div>
          <div class="bg-base-300 p-2 px-4 rounded-xl flex items-center">
            <a><i class="fa-solid fa-landmark text-primary text-4xl mr-4"></i></i></a>
            <div>
              <h2 class="text-2xl font-bold">SKYBLOCK</h2>
              <p>D'où les blocs ça volle ?</p>
            </div>
          </div>
          <div class="bg-base-300 p-2 px-4 rounded-xl flex items-center">
            <a><i class="fa-solid fa-shapes text-primary text-4xl mr-4"></i></a>
            <div>
              <h2 class="text-2xl font-bold">ONEBLOCK</h2>
              <p>Comment ça c'est fait avec juste un bloc ?</p>
            </div>
          </div>
        </div>

        <div class="grid grid-cols-1 gap-y-4 md:m-4 my-8">
          <h2 class="text-4xl font-bold relative align-middle">
            Communauté
            <span class="hidden md:absolute right-0 text-xl font-normal"
              >Partagez vos plus beaux moments sur DEMOCRAFT !</span
            >
          </h2>
          <p class="md:hidden right-0 text-xl font-normal"
              >Partagez vos plus beaux moments sur DEMOCRAFT !</p
            >
          <div class="bg-base-300 p-2 px-4 rounded-xl flex items-center">
            <a><i class="fa-solid fa-clapperboard text-primary text-4xl mr-4"></i></a>
            <div>
              <h2 class="text-2xl font-bold">Clips</h2>
              <p>Vos incroyables clips sur DEMOCRAFT </p>
            </div>
          </div>
        </div>

        <div class="grid grid-cols-1 gap-y-4 md:m-4 my-8">
          <h2 class="text-4xl font-bold relative align-middle">
            Signalements
            <span class="hidden md:absolute right-0 text-xl font-normal"
              >Un joueur cancer ? Un bug vraiment casse pied ? Vous êtes au bonne endroit !</span
            >
          </h2>
          <p class="md:hidden right-0 text-xl font-normal"
              >Un joueur cancer ? Un bug vraiment casse pied ? Vous êtes au bonne endroit !</p
            >
          <div class="bg-base-300 p-2 px-4 rounded-xl flex items-center">
            <a><i class="fa-solid fa-bug text-primary text-4xl mr-4"></i></a>
            <div>
              <h2 class="text-2xl font-bold">
                Bug Report </h2>
              <p>Mais DEMOCRAFT est parfait enfin tout fonctionne</p>
            </div>
          </div>
          <div class="bg-base-300 p-2 px-4 rounded-xl flex items-center">
            <a><i class="fa-solid fa-ghost text-primary text-4xl mr-4"></i></a>
            <div>
              <h2 class="text-2xl font-bold">Triche</h2>
              <p>Un TRICHEUR ? Sur DEMOCRAFT ???</p>
            </div>
          </div>
        </div>

      </div>

      <div class="md:w-1/4">
        <div class="card bg-base-200">
          <div class="card-body flex flex-row items-center">
            <img class="rounded-lg h-16 w-16" src="/avatar.png" alt="Shoes" />
            <div>
              <h2 class="card-title">Funasitien</h2>
              <span class="badge badge-warning">Fondateur</span>
            </div>
            <a class="absolute right-5 btn btn-ghost"
              ><i class="fa-solid fa-pen-to-square fa-2xl"></i></a
            >
          </div>
        </div>
        <div class="card card-compact bg-base-200 mt-4">
          <div class="card-body">
            <h2 class="card-title">
              <i class="fa-solid fa-comments"></i> Derniers Messages
            </h2>
            <div class="bg-base-300 p-2 rounded-xl">
              <h3 class="font-bold">Règles de l'espace discussion</h3>
              <div class="flex">
                <img
                  class="rounded h-4 w-4 translate-y-0.5 mr-1"
                  src="/avatar.png"
                  alt="Shoes"
                />
                <span>Funasitien, 11 décembre 2023</span>
              </div>
            </div>
            <div class="bg-base-300 p-2 rounded-xl">
              <h3 class="font-bold">Règles de l'espace discussion</h3>
              <div class="flex">
                <img
                  class="rounded h-4 w-4 translate-y-0.5 mr-1"
                  src="/fantaisiici.png"
                  alt="Shoes"
                />
                <span>Fantaisiici, 11 décembre 2023</span>
              </div>
            </div>
          </div>
        </div>
        <div class="card card-compact bg-base-200 mt-4">
          <div class="card-body">
            <h2 class="card-title">
              <i class="fa-solid fa-chart-pie"></i> Statistiques
            </h2>
            <p><i class="fa-solid fa-note-sticky"></i> 50 Discussions</p>
            <p><i class="fa-solid fa-comment"></i> 1000 messages</p>
            <p><i class="fa-solid fa-users"></i> 100 utilisateurs</p>
          </div>
        </div>
        <div class="card card-compact bg-base-200 mt-4">
          <div class="card-body">
            <h2 class="card-title">
              <i class="fa-solid fa-users"></i> Utilisateurs en ligne
            </h2>
            <div class="flex flex-wrap gap-x-2">
              <div class="flex">
                <img
                  class="rounded h-4 w-4 translate-y-0.5 mr-1"
                  src="/avatar.png"
                  alt="Shoes"
                />
                <span>Funasitien</span>
              </div>
              <div class="flex">
                <img
                  class="rounded h-4 w-4 translate-y-0.5 mr-1"
                  src="/benkuro11.png"
                  alt="Shoes"
                />
                <span>Benkuro11</span>
              </div>
              <div class="flex">
                <img
                  class="rounded h-4 w-4 translate-y-0.5 mr-1"
                  src="/fantaisiici.png"
                  alt="Shoes"
                />
                <span>Fantasiici</span>
              </div>
              <div class="flex">
                <img
                  class="rounded h-4 w-4 translate-y-0.5 mr-1"
                  src="/samuel.png"
                  alt="Shoes"
                />
                <span>samuelaligator</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</Layout>
