---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Forum">
  <div class="bg-base-100 p-4 pt-10">
    <div class="flex max-sm:flex-col gap-4 w-full">
      <div class="w-3/4">
        <div class="grid grid-cols-1 gap-y-4 m-4">
          <h2 class="text-4xl font-bold relative align-middle">
            Serveurs
            <span class="absolute right-0 text-xl font-normal"
              >Les différents mondes de DEMOCRAFT</span
            >
          </h2>
          <div class="bg-base-300 p-2 px-4 rounded-xl flex items-center">
            <a><i class="fa-solid fa-pen-to-square text-4xl mr-2"></i></a>
            <div>
              <h2 class="text-2xl font-bold">Sujet 1</h2>
              <p>Description du sujet 1</p>
            </div>
          </div>
          <div class="bg-base-300 p-2 rounded-xl flex items-center">
            <a><i class="fa-solid fa-pen-to-square text-4xl mr-2"></i></a>
            <div>
              <h2 class="text-2xl font-bold">Sujet 2</h2>
              <p>Description du sujet 2</p>
            </div>
          </div>
          <div class="bg-base-300 p-2 rounded-xl flex items-center">
            <a><i class="fa-solid fa-pen-to-square text-4xl mr-2"></i></a>
            <div>
              <h2 class="text-2xl font-bold">Sujet 3</h2>
              <p>Description du sujet 3</p>
            </div>
          </div>
        </div>

        <div class="grid grid-cols-1 gap-y-4 m-4">
          <h2 class="text-4xl font-bold relative align-middle">
            Serveurs
            <span class="absolute right-0 text-xl font-normal"
              >Les différents mondes de DEMOCRAFT</span
            >
          </h2>
          <div class="bg-base-300 p-2 px-4 rounded-xl flex items-center">
            <a><i class="fa-solid fa-pen-to-square text-4xl mr-2"></i></a>
            <div>
              <h2 class="text-2xl font-bold">Sujet 1</h2>
              <p>Description du sujet 1</p>
            </div>
          </div>
          <div class="bg-base-300 p-2 rounded-xl flex items-center">
            <a><i class="fa-solid fa-pen-to-square text-4xl mr-2"></i></a>
            <div>
              <h2 class="text-2xl font-bold">Sujet 2</h2>
              <p>Description du sujet 2</p>
            </div>
          </div>
          <div class="bg-base-300 p-2 rounded-xl flex items-center">
            <a><i class="fa-solid fa-pen-to-square text-4xl mr-2"></i></a>
            <div>
              <h2 class="text-2xl font-bold">Sujet 3</h2>
              <p>Description du sujet 3</p>
            </div>
          </div>
        </div>

        <div class="grid grid-cols-1 gap-y-4 m-4">
          <h2 class="text-4xl font-bold relative align-middle">
            Serveurs
            <span class="absolute right-0 text-xl font-normal"
              >Les différents mondes de DEMOCRAFT</span
            >
          </h2>
          <div class="bg-base-300 p-2 px-4 rounded-xl flex items-center">
            <a><i class="fa-solid fa-pen-to-square text-4xl mr-2"></i></a>
            <div>
              <h2 class="text-2xl font-bold">Sujet 1</h2>
              <p>Description du sujet 1</p>
            </div>
          </div>
          <div class="bg-base-300 p-2 rounded-xl flex items-center">
            <a><i class="fa-solid fa-pen-to-square text-4xl mr-2"></i></a>
            <div>
              <h2 class="text-2xl font-bold">Sujet 2</h2>
              <p>Description du sujet 2</p>
            </div>
          </div>
          <div class="bg-base-300 p-2 rounded-xl flex items-center">
            <a><i class="fa-solid fa-pen-to-square text-4xl mr-2"></i></a>
            <div>
              <h2 class="text-2xl font-bold">Sujet 3</h2>
              <p>Description du sujet 3</p>
            </div>
          </div>
        </div>

      </div>

      <div class="w-1/4">
        <div class="card bg-base-200">
          <div class="card-body flex flex-row items-center">
            <img class="rounded-lg h-16 w-16" src="/avatar.png" alt="Shoes" />
            <div>
              <h2 class="card-title">Funasitien</h2>
              <span class="badge badge-warning">Fondateur</span>
            </div>
            <a class="absolute right-5 btn btn-ghost"
              ><i class="fa-solid fa-pen-to-square fa-2xl"></i></a
            >
          </div>
        </div>
        <div class="card card-compact bg-base-200 mt-4">
          <div class="card-body">
            <h2 class="card-title">
              <i class="fa-solid fa-comments"></i> Derniers Messages
            </h2>
            <div class="bg-base-300 p-2 rounded-xl">
              <h3 class="font-bold">Règles de l'espace discussion</h3>
              <div class="flex">
                <img
                  class="rounded h-4 w-4 translate-y-0.5 mr-1"
                  src="/avatar.png"
                  alt="Shoes"
                />
                <span>Funasitien, 11 décembre 2023</span>
              </div>
            </div>
            <div class="bg-base-300 p-2 rounded-xl">
              <h3 class="font-bold">Règles de l'espace discussion</h3>
              <div class="flex">
                <img
                  class="rounded h-4 w-4 translate-y-0.5 mr-1"
                  src="/avatar.png"
                  alt="Shoes"
                />
                <span>Funasitien, 11 décembre 2023</span>
              </div>
            </div>
          </div>
        </div>
        <div class="card card-compact bg-base-200 mt-4">
          <div class="card-body">
            <h2 class="card-title">
              <i class="fa-solid fa-chart-pie"></i> Statistiques
            </h2>
            <p><i class="fa-solid fa-note-sticky"></i> 50 Discussions</p>
            <p><i class="fa-solid fa-comment"></i> 1000 messages</p>
            <p><i class="fa-solid fa-users"></i> 100 utilisateurs</p>
          </div>
        </div>
        <div class="card card-compact bg-base-200 mt-4">
          <div class="card-body">
            <h2 class="card-title">
              <i class="fa-solid fa-users"></i> Utilisateurs en ligne
            </h2>
            <div class="flex flex-wrap gap-x-2">
              <div class="flex">
                <img
                  class="rounded h-4 w-4 translate-y-0.5 mr-1"
                  src="/avatar.png"
                  alt="Shoes"
                />
                <span>Funasitien</span>
              </div>
              <div class="flex">
                <img
                  class="rounded h-4 w-4 translate-y-0.5 mr-1"
                  src="/avatar.png"
                  alt="Shoes"
                />
                <span>Funasitien</span>
              </div>
              <div class="flex">
                <img
                  class="rounded h-4 w-4 translate-y-0.5 mr-1"
                  src="/avatar.png"
                  alt="Shoes"
                />
                <span>Funasitien</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</Layout>
