---
import Layout from "../../layouts/Layout.astro";
---

<Layout>
  <div class="bg-base-100 p-4 pt-10">
    <div class="grid grid-cols-1 md:grid-cols-3 mx-2 lg:mx-6 gap-y-4 md:gap-4">
      <div class="flex justify-center min-w-full h-[180px]">
        <ul class="menu bg-base-200 w-56 p-0 rounded-lg min-w-full">
          <li><a href="/"><i class="fa-solid fa-house"></i> Accueil</a></li>
          <li><a href=""><i class="fa-solid fa-money-bill-1-wave"></i> Donations <i class="fa-solid fa-up-right-from-square"></i></a></li>
          <li><a href="/categorie" class="active"><i class="fa-solid fa-user-tag"></i> Grades</a></li>
          <li><a><i class="fa-solid fa-coins"></i> Pièces</a></li>
          <li><a><i class="fa-solid fa-gem"></i> Cristaux</a></li>
        </ul>
      </div>
      <div class="card bg-base-200 p-4 flex justify-center min-w-full col-span-2 row-span-4">
        <article class="prose lg:prose-lg min-w-full">
        </article>
      </div>
      <div class="flex flex-col gap-y-4 justify-center min-w-full">
        <a class="btn btn-primary">
          <i class="fa-solid fa-cart-shopping"></i> Panier
        </a>
        <a class="btn btn-secondary">
          <i class="fa-solid fa-piggy-bank"></i> Vos Achats
        </a>
      </div>
      <div class="card bg-base-200 p-4 flex justify-center min-w-full"></div>
    </div>
  </div>
</Layout>
