---
import Layout from "../layouts/Home.astro";
import Hero from "../sections/Hero.astro";
import Arg1 from "../sections/Arg1.astro";
import Arg2 from "../sections/Arg2.astro";
import Arg3 from "../sections/Arg3.astro";
import News from "../sections/News.astro";
---

<Layout>
  <Hero />
  <Arg1 />
  <Arg2 />
  <Arg3 />
  <News />
  <p>Nos Juex</p>
  <p>Rejoindre</p>
</Layout>
