---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="bg-base-100 p-4 pt-10">
    <div class="card bg-base-200">
    </div>
    <div class="grid grid-cols-1 md:grd-cols-2">
      <div class="card bg-base-200">
      </div>
      <div class="card bg-base-200">
      </div>
      <div class="card bg-base-200">
      </div>
      <div class="card bg-base-200">
      </div>
    </div>
  </div>
</Layout>
