---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="bg-base-100 p-4 pt-10">
    <div class="grid grid-cols-1 md:grd-cols-2 gap-4">
      <div class="card max-sm:card-compact bg-base-100 w-full md:w-96 shadow-xl">
        <figure>
          <img
            src="/avatar/funasitien.png"
            alt="Shoes" />
        </figure>
        <div class="card-body">
          <h2 class="card-title pixel text-sm">
            Funasitien
          </h2>
          <span class="badge badge-warning badge-lg mt-2">FONDATEUR</span>
          <p>If a dog chews shoes whose shoes does he choose?</p>
          <div class="card-actions justify-end">
            <a href="" class="link link-hover">
             Un Lien
            </a>
          </div>
        </div>
      </div>

    <div class="grid grid-cols-1 md:grd-cols-2">
      <div class="card max-sm:card-compact bg-base-100 w-full md:w-96 shadow-xl">
        <figure>
          <img
            src="/avatar/bigfantai.png"
            alt="Shoes" />
        </figure>
        <div class="card-body">
          <h2 class="card-title pixel text-sm">
            Fantaisiici
          </h2>
          <span class="badge badge-error badge-lg mt-2">ADMINISTRATEUR</span>
          <p>If a dog chews shoes whose shoes does he choose?</p>
          <div class="card-actions justify-end">
            <a href="" class="link link-hover">
             Un Autre Lien
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</Layout>
