---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="bg-base-100 p-4 pt-10">
    <div class="grid grid-cols-1 md:grid-cols-3 mx-2 lg:mx-6 gap-y-4 md:gap-4">
      <div class="card bg-base-200 p-4 flex justify-center min-w-full">
        <h1 class="text-center text-4xl font-bold">Voter</h1>
        <form class="flex flex-col justify-center">
          <label class="input input-bordered flex items-center gap-2 mt-2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 16 16"
              fill="currentColor"
              class="h-4 w-4 opacity-70">
              <path
                d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6ZM12.735 14c.618 0 1.093-.561.872-1.139a6.002 6.002 0 0 0-11.215 0c-.22.578.254 1.139.872 1.139h9.47Z"
              ></path>
            </svg>
            <input type="text" class="grow" placeholder="Pseudonyme" />
          </label>
          <button class="btn btn-success mt-2">Voter</button>
        </form>
        <p class="text-sm pt-2 text-center">
          <i class="fa-solid fa-triangle-exclamation"></i>
          Attention ! Vérifiez que votre nom est identique sur le site et en jeu
        </p>
      </div>
      <div class="card bg-base-200 p-4 col-span-2 row-span-3">
        <h1 class="text-center text-4xl font-bold">Classement</h1>
        <div class="grid md:grid-cols-2 mt-4">
          <div>
            <h2 class="text-2xl font-bold">Top Voteurs</h2>
            <p class="text-lg mt-2">
              Chaque mois, le classement des votes est réinitialisé. Les 3
              premiers joueurs recevront alors une récompenses.
              <br />
              N'oubliez pas que chaque vote vous offre une récompense !
            </p>
            <p class="text-sm mt-2">
              <i class="fa-solid fa-circle-question"></i>
              Quelle récompense ? Regardez à gauche !
            </p>
          </div>
          <div></div>
        </div>
        <div class="overflow-x-auto mt-4">
          <table class="table">
            <thead>
              <tr class="bg-base-300">
                <th class="rounded-l-lg">Rang</th>
                <th>Pseudo</th>
                <th class="rounded-r-lg">Votes</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td class="flex text-lg items-center">
                  <img
                    class="rounded-lg h-12 w-12"
                    src="/avatar.png"
                    alt="Avatar Tailwind CSS Component"
                  />
                  <p class="pl-2">Funasitien</p>
                </td>
                <td>27</td>
              </tr>
              <tr>
                <td>2</td>
                <td class="flex text-lg items-center">
                  <img
                    class="rounded-lg h-12 w-12"
                    src="/avatar.png"
                    alt="Avatar Tailwind CSS Component"
                  />
                  <p class="pl-2">FDreamCloud</p>
                </td>
                <td>12</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="card bg-base-200 p-4 min-w-full">
        <h1 class="text-center text-4xl font-bold">Récompenses</h1>
        <div class="overflow-x-auto mt-4">
          <table class="table">
            <thead>
              <tr class="bg-base-300">
                <th class="rounded-l-lg">Nom</th>
                <th class="rounded-r-lg">Probabilité</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>500 Pièces Cosmétiques</td>
                <td>0.01%</td>
              </tr>
              <tr>
                <td>1 Pièce Cosmétiques</td>
                <td>99.99%</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</Layout>
