<footer class="bg-base-200 text-base-content px-4 pt-10 pb-32 lg:pb-10">
  <div
    class="grid grid-cols-2 lg:grid-cols-4 justify-items-center">
    <div class="flex">
      <img
        src="https://us-east-1.tixte.net/uploads/cdn.democraft.fr/logo_rond.png"
        class="w-32 h-32 rounded-lg hover:scale-110 transition-all ease-in-out duration-300"
      />
    </div>
    <div>
      <h3 class="text-xl font-bold">Nos Résaux</h3>
      <ul class="px-1">
        <li><a>Discord</a></li>
        <li><a>Instagram</a></li>
        <li><a>Bluesky</a></li>
        <li><a>Youtube</a></li>
      </ul>
    </div>
    <div>
      <h3 class="text-xl font-bold">Liens Utiles</h3>
      <ul class="px-1">
        <li><a>Item 1</a></li>
        <li><a>Item 2</a></li>
        <li><a>Item 3</a></li>
        <li><a>Item 4</a></li>
      </ul>
    </div>
    <div>
      <h3 class="text-xl font-bold">Légal</h3>
      <ul class="px-1">
        <li><a>Statut</a></li>
        <li><a>Règlement</a></li>
        <li><a>CGU/CGV</a></li>
        <li><a>PdC</a></li>
      </ul>
    </div>
  </div>
  <div class="flex flex-row justify-center gap-2 mt-12">
    <p class="text-sm">
      © DEMOCRAFT STUDIOS 2022-2024 - Nous ne sommes pas affiliés à Mojang AB.
      Propulsé par <a href="https://astro.build">Azuriom</a>
    </p>
  </div>
</footer>
