---

---

<div
  class="navbar fixed border-b backdrop-blur border-base-300 z-30 bg-black/5 dark:bg-white/10">
  <div class="navbar-start"></div>
  <div class="navbar-center"></div>
  <div class="navbar-end"></div>
</div>
