<div
  class="btm-nav z-30 backdrop-blur bg-black/5 dark:bg-white/10 md:hidden rounded-t-3xl">
  <a><i class="fa-solid fa-house fa-xl"></i></a>
  <a><i class="fa-solid fa-check-to-slot fa-xl"></i></a>
  <button
    onclick="menu_modal.showModal();"
    class="pt-2 rounded-xl bg-black/10 dark:bg-white/10"
    ><i class="fa-solid fa-shapes fa-xl"></i></button
  >
  <a><i class="fa-solid fa-basket-shopping fa-xl"></i></a>
  <a>
    <img
      class="rounded-lg w-10 h-10"
      src="https://api.creepernation.net/avatar/Funasitien"
    />
  </a>
</div>
