<div
  class="bg-base-100 flex flex-col-reverse md:flex-row py-12 px-2 lg:px-6 gap-2 justify-center">
  <div>
    <img
      class="h-96 rounded-lg"
      src="https://placehold.co/600x400?text=Hello+World&font=montserrat"
    />
  </div>
  <div class="lg:m-4 col-start-1 lg:col-start-2">
    <h1 class="text-3xl lg:text-4xl text-center">
      Le premier serveur <span class="underline">vraiment</span> crossplay
    </h1>
    <p></p>
  </div>
</div>
