<div
  class="bg-primary flex flex-col-reverse md:flex-row py-12 px-2 lg:px-6 gap-2 justify-center text-primary-content">
  <div class="lg:m-4 col-start-1 lg:col-start-2">
    <h1 class="text-3xl lg:text-4xl text-center">
      Un serveur <span class="underline">vraiment</span> ouvert à tous
    </h1>
    <p></p>
  </div>
</div>
