<p class="bg-base-100 text-center pixel pt-6 pb-8">Articles</p>
<div class="grid grid-cols-2 md:grid-cols-5 bg-base-100 gap-y-6 md:gap-x-6 p-4 pt-6">
  <div class="row-span-2 col-span-2 card card-compact bg-base-300 md:mb-6">
    <figure class="max-h-64">
      <img src="/news/news1.png" alt="Shoes" />
    </figure>
    <div class="card-body">
      <h2 class="card-title text-2xl">
        Ménage de printemps sur le Launcheur !
      </h2>
      <p class="text-lg">
        On vous sort un tout nouveau launcheur, et en prime il fonctionne. Avec
        une interface épurée, et plein d'autres 'trucs' que je rajoute juste
        après l'écriture pour tester le site.
      </p>
      <div class="card-actions justify-end">
        <button class="btn btn-primary">Lire la suite</button>
      </div>
    </div>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-2 col-span-3 gap-6">
    <div class="card card-compact card-side bg-base-300">
      <figure class="w-1/2">
        <img class="object-cover h-full" src="/news/news2.png" alt="Shoes" />
      </figure>
      <div class="card-body w-1/2">
        <h2 class="card-title">Shoes!</h2>
        <p>
          Quoi de mieux pour inviter la communauté à s'exprimer qu'un forum ? A
          partir d'aujourd'hui, retrouvez notre forum dans l'onglet "Communauté"
          de notre site web !
        </p>
        <div class="card-actions justify-end">
          <button class="btn btn-secondary">Lire la suite</button>
        </div>
      </div>
    </div>
    <div class="card card-compact card-side bg-base-300">
      <figure class="w-1/2">
        <img class="object-cover h-full" src="/news/news3.png" alt="Shoes" />
      </figure>
      <div class="card-body w-1/2">
        <h2 class="card-title">WTF C'est DEMOCRAFT ça ?</h2>
        <p>
          Et oui. On a non pas un mais 10 nouveaux logo. Vous vous y attendez
          pas, hein ?
        </p>
        <div class="card-actions justify-end">
          <button class="btn btn-secondary">Lire la suite</button>
        </div>
      </div>
    </div>
    <div class="card card-compact card-side bg-base-300">
      <figure class="w-1/2">
        <img class="object-cover h-full" src="/news/news4.png" alt="Shoes" />
      </figure>
      <div class="card-body w-1/2">
        <h2 class="card-title">DEMOCRAFT en live à la CubedCon !</h2>
        <p>Bienvenu à la première convention de DEMOCRAFT !</p>
        <div class="card-actions justify-end">
          <button class="btn btn-secondary">Lire la suite</button>
        </div>
      </div>
    </div>
    <div class="card card-compact card-side bg-base-300">
      <figure class="w-1/2">
        <img class="object-cover h-full" src="/news/news5.png" alt="Shoes" />
      </figure>
      <div class="card-body w-1/2">
        <h2 class="card-title">WTF C'est DEMOCRAFT ça ?</h2>
        <p>If a dog chews shoes whose shoes does he choose?</p>
        <div class="card-actions justify-end">
          <button class="btn btn-secondary">Lire la suite</button>
        </div>
      </div>
    </div>
  </div>
</div>
