---
import Navbar from "../components/Navbar.astro";
import Menu from "../components/Menu.astro";
import Footer from "../components/Footer.astro";
import Navigation from "../components/Navigation.astro";

const { title = "DEMOCRAFT" } = Astro.props;
---

<!doctype html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>DEMOCRAFT-FRONT</title>
    <link rel="stylesheet" href="/fixes.css" />
    <link rel="stylesheet" href="/fonts/Satoshi.css" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
      integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.11.3/font/bootstrap-icons.min.css"
      integrity="sha512-dPXYcDub/aeb08c63jRq/k6GaKccl256JQy/AnOq7CAnEZ9FzSL9wSbcZkMp4R26vBsMLFYH4kQ67/bbV8XaCQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script src="https://cdn.jsdelivr.net/npm/theme-change@2.0.2/index.js"
    ></script>
  </head>
  <body>
    <Menu />
    <Navbar />
    <slot />
    <Footer />
    <Navigation />
  </body>
</html>
